<div class="section">
    <div class="header" ng-click="vm.toggleExpanded()">
        <h4>
            <div class="pull-right" ng-show="vm.recentAOIs.length > 0">
                <button class="btn btn-default btn-xs" ng-click="vm.clearRecentAOIs($event);" data-title="Clear Recent AOIs" data-placement="bottom" bs-tooltip><i class="fa fa-remove"></i></button>
            </div>
            <span class="fa" ng-class="vm.expanded ? 'fa-chevron-circle-down' : 'fa-chevron-circle-right'"></span>
            Recent AOIs
        </h4>
    </div>
    <div ng-show="vm.expanded">
        <ul class="recent-aoi-list list-group">
            <li class="list-group-item" ng-repeat="aoi in vm.recentAOIs track by $index" ng-class="{ active: aoi.active }" ng-click="vm.activateAOI(aoi)">
                <div ng-if="aoi.bbox.format !== 'mgrs'">
                    N: {{ aoi.bbox.north }}<br />
                    E: {{ aoi.bbox.east }}<br />
                    S: {{ aoi.bbox.south }}<br />
                    W: {{ aoi.bbox.west }}
                </div>
                <div ng-if="aoi.bbox.format === 'mgrs'">
                    NE: {{ aoi.bbox.mgrsNE }}<br />
                    SW: {{ aoi.bbox.mgrsSW }}
                </div>
            </li>
        </ul>
    </div>
</div>