<div class="section" data-ng-if="vm.sensors.length > 1">
    <div class="header" ng-click="vm.toggleExpanded()">
        <h4>
            <span class="fa" ng-class="vm.expanded ? 'fa-chevron-circle-down' : 'fa-chevron-circle-right'"></span>
            Sensor
        </h4>
    </div>
    <div class="sensor margin-top-md margin-bottom-md" ng-show="vm.expanded">
        <div class="form-group" ng-if="vm.mode === 'search'">
            <label for="sensor" class="sr-only">Sensor:</label>
            <select id="sensor" class="form-control" ng-model="vm.selectedSensor" ng-change="vm.setSensor(vm.selectedSensor)" ng-options="sensor as sensor.title for sensor in vm.sensors"></select>
        </div>
        <div ng-if="vm.mode === 'analyze'">
            <h5>Selected Sensor</h5>
            <span class="value">{{ vm.selectedSensor.title }}</span>
        </div>
    </div>
</div>
