<div class="form-group" ng-repeat="slider in vm.sliders">
    <div ng-if="!slider.isDivider">
        <button type="button"
                class="btn btn-default btn-xs pull-right"
                ng-click="vm.reset(slider.id, slider.default)">
            Reset
        </button>

        <label ng-attr-for="{{ slider.id }}-slider">
            {{ slider.name }}
        </label>

        <input ng-attr-id="{{ slider.id }}-slider"
               type="range"
               min="{{ slider.min }}"
               max="{{ slider.max }}"
               value="{{ vm.canvasImageOverlay[slider.id] }}"
               step="1"
               ng-model="vm.canvasImageOverlay[slider.id]"
               data-title="{{ vm.canvasImageOverlay[slider.id] }}{{ slider.units }}"
               data-placement="bottom"
               bs-tooltip
               ng-change="vm.render()">
    </div>

    <hr ng-if="slider.isDivider">
</div>
